@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@200&family=Josefin+Sans:ital,wght@0,200;0,300;1,700&family=Open+Sans:wght@300&family=Righteous&family=Varela+Round&display=swap");

:root {
  font-size: 20px;
}

body {
  font-family: "Josefin Sans", sans-serif;
}
.background-color {
  background-color: rgb(255, 255, 255);
}

.dropdown:hover > .dropdown-menu {
  display: block;
}

.dropdown > .dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
  pointer-events: none;
}

.dropdown-menu-right {
  right: 0 !important;
  left: auto !important;
}

.avatar-mini {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

#page-container {
  position: relative;
  min-height: 72vh;
}

#content-wrap {
  padding-bottom: 2.5rem; /* Footer height */
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem; /* Footer height */
}
